<div class="container">
    <div class="row">
        <?php foreach ($blogs as $blog) { ?>
            <div class="col-md-4">
                <div class="card mb-4 mh20em">
                    <div class="card-header">
                        <h2 class="card-title" style="font-size:24px"><?php echo $blog->title; ?></h2>
                    </div>

                    <div class="card-body">
                        <p class="card-text text-justify">
                            <!-- 220 Character limit -->
                            <?php
                            $content = strip_tags($blog->content);
                            echo substr($content, 0, 200);
                            if (strlen($content) >= 201) {
                                echo "...";
                            }
                            ?>
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <?php
                        echo $this->Html->link(
                                'Read More', '/blogs/'.$blog->slug, ['full_base' => true,'class' => 'btn btn-primary float-right']
                        );
                        ?>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>
</div>