/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 Jun, 2018, 3:56:03 PM
    Author     : rafi01010010
*/

.json-container {
    padding-left: 12px;
    margin-left: 8px;
    overflow: auto;
}
.json-container,
.json-container ul{
    list-style: none !important;
}
.json-container ul{
    padding: 0px !important;
    padding-left: 20px !important;
    margin: 0px !important;
    border-left: 1px dotted #ccc;
}
.json-container{
    border:0px;
}

.json-container li {
    position: relative;
}

.json-container > li  > .key,
.json-container .array .key {
    display: none;
}

.json-container .array .object .key {
    display: inline;
}

.json-container li:after {
    content: ",";
}

.json-container li:last-child:after {
    content: "";
}

.json-container .null {
    color: #999;
}
.json-container .string {
    color: #4e9a06;
}
.json-container .number {
    color: #a40000;
}
.json-container .boolean {
    color: #c4a000;
}
.json-container .key {
    color: #204a87;
}
.json-error {
    margin: 10px;
    color: rgb(239, 62, 62);
}
.json-container .expanded {
    cursor: pointer;
}
.json-container .expanded{
    padding: 0px 1px 1px;
    line-height: 6px;
    border: 1px solid gray;
    display: inline-block;
}


.json-container li .collapsed ~ .close-json:before {
    content: "...";
    color: #999;
}

.json-container .hidden ~ ul {
    display: none;
}

.json-container span {
    position: static !important;
}
.json-container{
    overflow: hidden;
}

#box_label_expand {
    border: 1px solid #ccc;
    background: #f6f6f6;
    top: 0px;
    right: 6px;
    border-radius: 1px;
    margin-top: 6px;
    text-align: center;
    display: inline-block;
    padding: 0 6px;
    position: absolute;
    font-size: 12px;
    color: #333;
    z-index: 30;
    opacity: 0;
    cursor: pointer;
}
