<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\NotFoundHash $notFoundHash
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('List Not Found Hashes'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="notFoundHashes form large-9 medium-8 columns content">
    <?= $this->Form->create($notFoundHash) ?>
    <fieldset>
        <legend><?= __('Add Not Found Hash') ?></legend>
        <?php
            echo $this->Form->control('value');
            echo $this->Form->control('email');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
